# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
*.env
*.pem

# Builds
dist/
build/
coverage/
.cache/
.parcel-cache/
.next/
out/

# Logs
logs/
*.log

# Prisma
.prisma/

# Misc
*.tldr
*.sqlite
*.sqlite-journal
